/* Align upcoming and ongoing sections in defaut view */
.default-ongoing-upcoming-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  width: 100%;
  max-width: 500px;
  padding: 16px 16px;
  font-family: 'Poppins';
}

/* container */
.ongoing-trip-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
}
.ongoing-trip-container h5 {
  margin: 0;
  flex-grow: 1;
  font-family: 'Poppins';
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray6);
  text-align: left;
}
/* title */
.ongoing-title {
  width: 343px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #262929;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  padding-left: 17px;
  padding-bottom: 10px;
}
/* card */
.trip-card {
  border: 1px solid var(--gray4);
  border-radius: 5px;
  padding: 16px 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}
/* card detail */
.card-detail {
  font-size: 14px;
}
/* profile line */
.profile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  text-align: center;
  line-height: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

/* name */
#name {
  padding-left: 12px;
  text-align: left;
}
/* route information */
.detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
}

/* Set buttons to be equal */
.link-wrap-btn {
  flex-grow: 1;
  display: flex;
}
.link {
  text-decoration: none;
}
.btn-flex-grow {
  flex-grow: 1;
}
/* end trip button */
#end-trip-button {
  background: #f52811;
  color: var(--gray1);
}
/* start trip button */
#start-trip-button {
  background: var(--green3);
  color: var(--gray1);
}

/* COOL AVATAR OVERLAP */

.card-header-driver-left {
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 80%;
}

.card-header-driver-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px
}

.avatars {
  margin: 0;
  padding: 0 0 0 4px;
  list-style-type: none ;
  flex-grow: 1;
  display: flex ;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px 0;
}

.avatar-li {
  box-sizing: border-box;
  margin: 0 -4px;
  border-radius: 50px;
  border: 2px solid var(--gray1);
}

.driver-list-forward-icon {
  font-size: 24px;
}

.title-margin {
  margin-bottom: 3px;
}

.detail-margin {
  margin-bottom: 6px;
  overflow: auto;
}

.driver-list-forward-icon {

}
