/* Align upcoming and ongoing sections in defaut view */
.default-ongoing-upcoming-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  width: 100%;
  max-width: 500px;
  padding: 16px 16px;
  font-family: 'Poppins';
}

/* container */
.ongoing-trip-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
}
.ongoing-trip-container h5 {
  margin: 0;
  flex-grow: 1;
  font-family: 'Poppins';
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray6);
  text-align: left;
}
/* title */
.ongoing-title {
  width: 343px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #262929;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  padding-left: 17px;
  padding-bottom: 10px;
}
/* card */
.trip-card {
  border: 1px solid var(--gray4);
  border-radius: 5px;
  padding: 16px 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}
/* card detail */
.card-detail {
  font-size: 14px;
}
/* profile line */
.profile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  text-align: center;
  line-height: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

/* name */
#name {
  padding-left: 12px;
  text-align: left;
}
/* route information */
.detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
}

/* Set buttons to be equal */
.link-wrap-btn {
  flex-grow: 1;
  display: flex;
}
.link {
  text-decoration: none;
}
.btn-flex-grow {
  flex-grow: 1;
}
/* end trip button */
#end-trip-button {
  background: #f52811;
  color: var(--gray1);
}
/* start trip button */
#start-trip-button {
  background: var(--green3);
  color: var(--gray1);
}

/* COOL AVATAR OVERLAP */

ul.avatars {
  display: flex ; /* Causes LI items to display in row. */
  list-style-type: none ;
  margin: auto ; /* Centers vertically / horizontally in flex container. */
  padding: 0px 7px 0px 0px ;
  z-index: 1 ; /* Sets up new stack-container. */
}

li.avatars__item {
  height: 49px ;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  position: relative ;
  width: 42px ; /* Forces flex items to be smaller than their contents. */
}

/*
  These zIndex values will only be relative to the contents of the UL element,
  which sets up its own stack container. As such, these will only be relevant
  to each other, not to the page at large.
  --
  NOTE: We could theoretically get around having to set explicit zIndex values
  by using "flex-direction: row-reverse" and using the natural stacking order
  of the DOM; however, to do that, we'd have to reverse the order of the HTML
  elements, which feels janky and unnatural.
*/
li.avatars__item:nth-child( 1 ) { z-index: 9 ; }
li.avatars__item:nth-child( 2 ) { z-index: 8 ; }
li.avatars__item:nth-child( 3 ) { z-index: 7 ; }
li.avatars__item:nth-child( 4 ) { z-index: 6 ; }
li.avatars__item:nth-child( 5 ) { z-index: 5 ; }
li.avatars__item:nth-child( 6 ) { z-index: 4 ; }
li.avatars__item:nth-child( 7 ) { z-index: 3 ; }
li.avatars__item:nth-child( 8 ) { z-index: 2 ; }
li.avatars__item:nth-child( 9 ) { z-index: 1 ; }

/*
  These items are all 49px wide while the flex-item (in which they live) is
  only 42px wide. As such, there will be several pixels of overflow content,
  which will be displayed in a reverse-stacking order based on above zIndex.
*/
img.avatars__img,
span.avatars__initials,
span.avatars__others {
  background-color: #596376 ;
  border-radius: 100px 100px 100px 100px ;
  color: #FFFFFF ;
  display: block ;
  font-family: sans-serif ;
  font-size: 12px ;
  font-weight: 100 ;
  height: 45px ;
  line-height: 45px ;
  text-align: center ;
  width: 45px ;
}

span.avatars__others {
  background-color: #1E8FE1 ;
}

/* COOL AVATAR OVERLAP END */


