.test-top {
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px;
gap: 24px;

width: 375px;
height: 72px;

/* Gray/gray1 */

background: #FCFCFC;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
/* .top-area {
  display:flex;
  align-items:flex-start;
  position: relative;
  top: 10%;
  margin: auto;
  border-color: rgb(6, 161, 9);
  border-width: thin;
  border-style: dashed;
  border-radius: 5px;
  padding: 3px;
}

@media (min-width: 600px) {
  .top-area {
    display:flex;
    align-items:flex-start;
    position: relative;
    top: 10%;
    margin: auto;
    border-color: rgb(6, 161, 9);
    border-width: thin;
    border-style: dashed;
    border-radius: 5px;
    padding: 3px;
  }
} */

.setting {
/* Frame 346 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 89px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }

.toggle-rider {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  color:forestgreen;
  border-radius: 90px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}


.profile-picture {
/* Ellipse 2 */


width: 40px;
height: 40px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.return-main {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  color:forestgreen;
  border-radius: 90px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.start-trip-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 24px;
  width: 375px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.start-trip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 12px;
  width: 343px;
  height: 41px;
  background: #338F24;
  color: white;
  border-radius: 50px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.end-trip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;
    width: 343px;
    height: 41px;
    background: #E72E2E;
    color: white;
    border-radius: 50px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.back-button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}

.MapData {
  height: 20px;
  width: 370px;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.Gmap {
  height: 275px;
  width: 370px;
  margin: auto;
  border-radius: 5px;
  /* border-color: #338F24;
  border-width: medium;
  border-style: solid; */
  position: relative;
  justify-content: center;
  text-align: center;

}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: medium;
}