:root {
  --green1: #D7ECD1;
  --green2: #93CA85;
  --green3: #338F24;
  --green4: #1D6C33;
  --gray1: #FCFCFC;
  --gray2: #E3F1F5;
  --gray3: #CAD6DD;
  --gray4: #97AAB0;
  --gray5: #76858A;
  --gray6: #262929;
  --yellow: #FFB629;
  --red: #E72E2E;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid var(--gray4);
  border-radius: 5px;
  padding: 16px 16px;
  margin: 0
}

.card p {
  margin: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}